<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" /> -->
<html xmlns:th="http://www.thymeleaf.org"></html>
<link th:href="@{/styles/registrtion.css}" rel="stylesheet" />


<div class="bform py-5">
    <!-- Row -->
    <div class="row">
        <div class="container">
            <div class="col-lg-6 align-justify-center pr-4 pl-0 contact-form">
                <div class="">
                    <h2 class="mb-3 font-weight-light">Добро пожаловать, новый пользователь!</h2>
                    <h6 class="subtitle font-weight-normal">Давай с тобой познакомимся</h6>
                    <form class="mt-3" method="post" action="/registration">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" name="name" type="text" placeholder="Name" >
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" name="email" type="email" placeholder="email address" >
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" name="password" type="password" placeholder="password">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit"
                                    class="btn btn-md btn-block btn-danger-gradiant text-white border-0"><span> Зарегистрироваться</span></button>
                                <!-- -->
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12 text-center mt-4">
                            Уже зарегистрированы <a href="/auth/login" class="text-danger">Войти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 right-image pl-3"
            style="background-image:url(https://bootstraptema.ru/images/demo/600x600/demo1.jpeg);">
        </div>
    </div>
</div>